* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    color: #000;
    font-size: 30px;
    line-height: 1.6;
    font-weight: 400;

}

.container {
    display: flex;
    min-height: 100vh;
}

.left-section {
    flex: 2;
    padding: 10px 30px 30px 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services-content {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px;
}

.services-img {
    width: 250px;
    flex-shrink: 0;
}

.services-content h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.services-content p {
    line-height: 1.6;
    max-width: 400px;
}

.logo {
    margin-bottom: 4px;

}

.logo img {
    width: 120px;
    margin-bottom: 3px;

}

.services h2 {
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    font-size: 2000;
}

.services p {
    max-width: 4000px;
    margin-bottom: 2px;

}

.services-img {
    width: 200px;
    margin-bottom: 3px;
}

.question-bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3px;
}

.question-img {
    width: 200px;
    margin-bottom: 2px;
}

.question-bank p {
    max-width: 5000px;
    line-height: 1.6;
}

.social {
    margin-top: auto;
    width: 100%;
}

.social p {
    margin-bottom: 10px;
    font-weight: 500;
}

.icons img {
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.right-section {
    flex: 1;
    background-color: #2a2e9d;
    color: white;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 150px 0 0 150px;
}

.right-section h1 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 10px;
}

.subtext {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
}

.right-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

form input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #00c8ff;
    border-radius: 8px;
    font-size: 14px;
}

form input:focus {
    outline: none;
    border-color: #00d9ff;
    box-shadow: 0 0 5px rgb(0, 204, 255);
    transition: border-color 0.3s ease;
}

form input::placeholder {
    color: #cccccc;
}

.forgot {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
    text-decoration: none;

}

form button {
    background-color: white;
    color: #2a2e9d;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 20px;
    font-size: 16px;
}

form button:hover {
    background-color: #e0e0e0;
}

.signup {
    margin-top: 20px;
    font-size: 14px;

}

.signup a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.right-section button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: white;
    color: #2a2e9d;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 15px;
}

.right-section button:hover {
    background-color: #e0e0e0;
}

.right-section button i {
    font-size: 20px;
}
